include ../mixins/roadmap/item

div.list-exp
    +item_roadmap('2018-2020', 'Business person', 'Full-Stack Developer PHP', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')
    +item_roadmap('2017-2018', 'Freelance Person', 'Back-End Engineer C++', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')
    +item_roadmap('2015-2018', 'Freelance Person', 'Full-Stack Developer PHP', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')
    +item_roadmap('2013-2015', 'Freelance Person', 'Seo & Frond-End Developer', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')
    +item_roadmap('2012-2013', 'Freelance Person', 'Frond-End Developer', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')