include ../mixins/list/item-with-eval
include ../mixins/list/tooltip-eval

+tooltip_eval('Оценка')

ul
    li
        +item_with_eval('Windows', 4)
    li
        +item_with_eval('Linux', 4)
    li
        +item_with_eval('Php Storm', 4)
    li
        +item_with_eval('Web Storm', 4)
    li
        +item_with_eval('Git', 3)
    li
        +item_with_eval('Photoshop', 3)
    li
        +item_with_eval('Illustrator', 3)
    li
        +item_with_eval('Figma', 3)