include ../mixins/roadmap/item

div.list-exp
    +item_roadmap('2010-2013', 'Проект N', 'Frond-End Developer', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')
    +item_roadmap('2013-2015', 'Проект N', 'Seo & Frond-End Developer', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')
    +item_roadmap('2015-2018', 'Проект N', 'Full-Stack Developer PHP', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')
    +item_roadmap('2017-2018', 'Проект N', 'Back-End Engineer C++', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')
    +item_roadmap('2018-2020', 'Проект N', 'Full-Stack DeveloperPHP', 'Проверка Проверка Проверка Проверка Проверка Проверка Проверка Проверка')