include ../mixins/list/item-with-eval
include ../mixins/list/tooltip-eval

+tooltip_eval('Оценка')

ul
    li
        +item_with_eval('PHP', 4)
    li
        +item_with_eval('MySQL', 4)
    li
        +item_with_eval('HTML', 4)
    li
        +item_with_eval('HTML5', 4)
    li
        +item_with_eval('CSS', 4)
    li
        +item_with_eval('CSS3', 4)
    li
        +item_with_eval('JavaScript', 3)
    li
        +item_with_eval('Python', 2)