include ../mixins/list/item-with-eval
include ../mixins/list/tooltip-eval

+tooltip_eval('Оценка')

ul
    li
        +item_with_eval('Laravel', 3)
    li
        +item_with_eval('Wordpress', 3)
    li
        +item_with_eval('OpenCart', 3)
    li
        +item_with_eval('Drupal', 3)
    li
        +item_with_eval('DLE', 3)
    li
        +item_with_eval('jQuery', 3)
    li
        +item_with_eval('Lumen', 2)
    li
        +item_with_eval('Symfony 2', 2)
    li
        +item_with_eval('1C - Битрикс', 2)
    li
        +item_with_eval('Joomla', 2)
    li
        +item_with_eval('Angular', 2)