include ../mixins/list/item-with-icon

ul
    li
        +item_with_icon('г. Мариуполь, Украина', 'location')
    li
        +item_with_icon('+380982015696', 'phone')
    li
        +item_with_icon('@makkintosh', 'telegram')
    li
        +item_with_icon('Eduard9969@gmail.com', 'email')