include ../mixins/roadmap/item

div.list-exp
    +item_roadmap('2018-2019', 'Приазовский государственный технический университет, ПГТУ', 'г. Мариуполь, Украина', 'Степень «Магистр» в области знаний 12 «Информационные технологии» по специальности 122 «Компьютерные науки», дневная форма обучения')
    +item_roadmap('2014-2018', 'Приазовский государственный технический университет, ПГТУ', 'г. Мариуполь, Украина', 'Степень «Бакалавр» в области знаний 12 «Информационные технологии» по специальности 122 «Компьютерные науки», дневная форма обучения')
    +item_roadmap('2002-2014', 'Общеобразовательная школа №33, ОШ №33', 'г. Мариуполь, Украина', 'Полное среднее образование, 11 классов')
