include ../mixins/list/item-with-eval-text

ul
    li
        +item_with_eval_text('English', 'Elementary, A2')
    li
        +item_with_eval_text('Русский', 'Родной язык')
    li
        +item_with_eval_text('Український', 'Рiдна мова')