mixin head(title, fairy_line)
    if fairy_line
        div.head-text-block.fairy_line
            h3
                span.head-text-content.text-uppercase= title
    else
        div.head-text-block
            h3
                span.head-text-content.text-uppercase= title