mixin item_with_icon(content, icon)
    div.item-with-icon-element
        svg.svg-img.d-inline-block.align-middle
            use(xlink:href="/dist/images/svg/sprite.svg#"+icon)
        span.d-inline-block.align-middle= content