mixin item_with_eval_text(title, mark_text)
    div.item-with-eval-element
        span.d-inline-block.align-middle= title
        span.mark-text.d-inline-block.align-middle= mark_text
        span.clear