mixin item_with_eval(title, mark)
    div.item-with-eval-element
        span.d-inline-block.align-middle= title
        span(class="apply-mark apply-mark-" + mark).d-inline-block.align-middle
            span.d-inline-block.align-middle.item-with-eval-element-mark
            span.d-inline-block.align-middle.item-with-eval-element-mark
            span.d-inline-block.align-middle.item-with-eval-element-mark
            span.d-inline-block.align-middle.item-with-eval-element-mark
            span.d-inline-block.align-middle.item-with-eval-element-mark
        span.clear