include ../list/item-with-eval

mixin tooltip_eval(name)
    - var rand  = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var ident = "checkbox-title-" + rand

    div.tooltip
        div.tooltip-label
            a(href="javascript:void(0);")
                label(for= ident)= name

        input(type="checkbox" id= ident)
        div.tooltip-content
            ul
                li
                    +item_with_eval('Базовое знание', 1)
                li
                    +item_with_eval('Удовлетворительно', 2)
                li
                    +item_with_eval('Хорошо', 3)
                li
                    +item_with_eval('Очень хорошо', 4)
                li
                    +item_with_eval('Превосходно', 5)