*,
*:before,
*:after,
*:first-letter,
p:first-line,
div:first-line,
blockquote:first-line,
li:first-line
  box-shadow: none !important
  text-shadow: none !important

body
  padding: 0
  background: unset

  &:after
    content: unset


a
  color: #343334 !important

  &[href^="/go/"]:after
    content: " (https://readytest.tk" attr(href) ")"


.wrappen
  box-shadow: none

  .wrappen-header .wrappen-header-block:first-child
    background-color: unset

    .wrappen-header-block-text span
      -webkit-print-color-adjust: exact
      print-color-adjust: exact
      background-color: #fff

.wrappen-lang,
.wrappen-header-block-social,
.header-avatar,
.tooltip,
.copyright,
.svg-img
  display: none

.main-content-block
  section:not(:first-child)
    page-break-before: always

  .head-text-block
    &.fairy_line:after
      content: unset

    & .head-text-content
      color: #343334
      border-top: none
      border-left: none
      border-right: none
      border-color: #6f6f6f
      background-color: #fff

  .item-roadmap-wrap
    position: relative

    & .item-roadmap-left-block span
      position: absolute
      top: 0
      left: 0

    & .item-roadmap-right-block .item-roadmap-right-block-header span+span
      font-size: 1.1rem

.sidebar-content-block
  background-color: #fff !important

  section
    &:first-child
      page-break-before: always

  p,
  .item-with-eval-element,
  .item-with-icon-element
    color: #343334

  .head-text-block
    background-color: unset

    .head-text-content
      color: #343334
      border-top: none
      border-left: none
      border-right: none
      border-color: #6f6f6f
      background-color: #fff

  .item-with-eval-element .item-with-eval-element-mark
    background-color: #9e9e9e
    -webkit-print-color-adjust: exact
    print-color-adjust: exact
    border: 1px solid #9e9e9e