body
  min-width: 320px
  background: #EBEBED
  color: $color-light-black
  font-family: 'Lato', sans-serif;
  font-size: 16px
  padding-top: $offset-main-block
  padding-bottom: $offset-main-block

  & > .control-area
    position: $p-fixed
    display: none
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 33
    background-color: rgba(0, 0, 0, 0.1)

  &:after
    content: ''
    position: $p-fixed
    left: $size-null
    right: $size-null
    top: $size-null
    bottom: $size-null
    display: block
    background: url("/dist/images/bg.png")
    opacity: 0.2
    z-index: -99

.d-flex
  display: flex

.d-inline-block
  display: inline-block

.d-block
  display: block

.text-uppercase
  text-transform: uppercase

.align-top
  vertical-align: top

.align-middle
  vertical-align: middle

.align-bottom
  vertical-align: bottom

.p-null
  padding: 0 !important

.clear
  clear: both

a
  text-decoration: none
  color: #ff9800

  &:active,
  &:hover
    text-decoration: underline

  &.active
    color: #808080
    text-decoration: none

.route-element
  flex-direction: row

  &.active
    flex-direction: row-reverse