.wrappen,
.wrappen-lang
  max-width: $max-content-width
  width: $full-width
  margin: $size-null auto
  position: $p-relative

.wrappen-lang
  margin-bottom: 5px
  text-align: right

  & li
    margin-right: 5px

.wrappen
  background: $color-base
  box-shadow: 1px 36px 50px 0 rgba(0, 0, 0, 0.27)

  & .wrappen-header
    & .wrappen-header-block
      min-height: 385px

      &:first-child
        background-color: $color-yellow
        justify-content: center
        align-items: center
        text-align: center
        flex-direction: column

      &:last-child
        background-color: $color-grey

      & .wrappen-header-block-text
        position: $p-relative
        border: 4px solid
        padding: 20px 15px

        & h1
          position: $p-relative
          z-index: 2
          font-size: 3rem
          font-weight: bold
          color: $color-black

        & span
          position: $p-absolute
          left: $size-null
          right: $size-null
          bottom: -15%
          margin: 0 auto
          width: 60%
          z-index: 1
          font-size: 1.2rem
          background-color: $color-yellow

      & .wrappen-header-block-social
        margin-top: 45px

.main-content-block,
.sidebar-content-block
  padding: $base-main-content-padding

.main-content-block
  width: $main-part

  .main-content &
    padding-bottom: 64px

.sidebar-content-block
  width: $second-part
  color: $color-white

  .main-content &
    padding-bottom: 64px

  & p
    line-height: 1.5rem

.main-content-wrap
  min-height: 500px