.header-avatar,
.header-avatar-wrap
  min-height: $full-width
  min-width: $full-width

.header-avatar
  position: $p-relative
  overflow: hidden

  & .header-avatar-wrap
    position: $p-absolute
    left: 50%
    top: 50%
    display: inline-block

    & img
      margin: -50% 0 0 -50%
      max-width: 420px
      max-height: 420px