.wrappen-header-block-social
  & .social-element
    margin: 15px 25px 0
    font-size: 1.1rem

    & .svg-img
      width: 24px
      height: 24px
      margin-right: 10px
      fill: $color-light-black

.social-element
  cursor: pointer
  color: $color-light-black

  &:hover,
  &:active
    color: $color-light-black-hover
    text-decoration: none

    & .svg-img
      fill: $color-light-black-hover