@media (max-width: 1024px)
  header .wrappen-header-block
      min-height: unset !important

      &.sidebar-content-block
        display: none

  .route-element
    display: block

  .main-content-block,
  .sidebar-content-block
    display: block
    width: 100%

  .copyright
    color: $color-white

    & span
      display: block

@media (max-width: 520px)
  .wrappen .wrappen-header .wrappen-header-block
    & .wrappen-header-block-text
      & h1
        font-size: 2rem

      & span
        top: 110%
        bottom: unset
        width: 80%
        font-size: 1rem

  .wrappen-header-block-social
    margin-top: 60px !important

    & li
      display: block
      margin: 20px 0

      & svg+span
        min-width: 40%

  .item-roadmap-wrap .item-roadmap-left-block span,
  .item-roadmap-wrap .item-roadmap-right-block .item-roadmap-right-block-header span
    font-size: 1.1rem