.head-text-block
  position: $p-relative
  background-color: $color-base
  margin: 36px 0

  .sidebar-content-block &
    background-color: $color-base-2

  .sidebar-content-block section:first-child &,
  .main-content-block section:first-child &
    margin-top: 16px

  &.fairy_line
    &:after
      content: ''
      height: 2px
      width: $full-width
      background-color: $color-text
      position: $p-absolute
      display: block
      top: $size-null
      bottom: $size-null
      left: $size-null
      right: $size-null
      margin: auto

  & .head-text-content
    position: $p-relative
    background-color: $color-base
    z-index: 2
    font-size: 1.4rem
    font-weight: bold
    border: 2px solid
    padding: 8px
    line-height: 0

    .sidebar-content-block &
      background-color: $color-base-2
      color: $color-base
      border-color: $color-yellow