.item-roadmap-wrap
  font-size: 0

  & .item-roadmap-left-block span,
  & .item-roadmap-right-block .item-roadmap-right-block-header span
    font-weight: bold
    font-size: 1.2rem
    display: block

  & .item-roadmap-left-block
    width: $second-part
    padding-right: 30px;

    & span
      font-size: 1.3rem

  & .item-roadmap-right-block
    width: $main-part
    position: $p-relative

    &:after,
    &:before
      content: ''
      display: block
      position: $p-absolute
      top: 3%
      right: 105%

    &:after
      width: 2px
      min-height: $full-width
      background-color: $color-light-grey

    &:before
      border: 2px solid $color-light-grey
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: $color-white
      transform: translate(43%, 0)
      z-index: 2

    & .item-roadmap-right-block-header span+span
      line-height: 2.2rem

    & .item-roadmap-right-block-descpt
      padding: 12px 0 24px
      font-size: 1rem