.item-with-eval-element
  margin-top: 15px

  & > span.d-inline-block:nth-of-type(2)
    float: right

    &.mark-text
      font-size: 0.9rem

  & .item-with-eval-element-mark
    background-color: $color-yellow
    width: 10px
    height: 10px
    margin-right: 5px
    border-radius: 50%

    &:last-of-type
      margin-right: 0

  & .apply-mark-1 .item-with-eval-element-mark:nth-child(1n+2),
  & .apply-mark-2 .item-with-eval-element-mark:nth-child(1n+3),
  & .apply-mark-3 .item-with-eval-element-mark:nth-child(1n+4),
  & .apply-mark-4 .item-with-eval-element-mark:nth-child(1n+5),
  & .apply-mark-5 .item-with-eval-element-mark:nth-child(1n+6),
  & .apply-mark-6 .item-with-eval-element-mark:nth-child(1n+7),
  & .apply-mark-7 .item-with-eval-element-mark:nth-child(1n+8),
  & .apply-mark-8 .item-with-eval-element-mark:nth-child(1n+9),
  & .apply-mark-9 .item-with-eval-element-mark:nth-child(1n+10),
  & .apply-mark-9 .item-with-eval-element-mark:nth-child(1n+11)
    background-color: $color-white