.tooltip
  position: $p-relative
  font-size: 0.9rem

  .sidebar-content-block &
    margin-top: -16px

  & .tooltip-label
    font-size: 0.8rem
    text-align: right

    & a,
    & a:hover
      text-decoration: none

    & label
      cursor: pointer
      text-transform: lowercase

  &:after
    content: ''
    clear: both

  & input
    display: none

    &:checked + .tooltip-content
      display: block

  & .tooltip-content
    display: none
    border-radius: 3px
    background: $color-white
    color: $color-base-2
    position: $p-absolute
    left: 0
    right: 0
    top: 180%
    padding: 10px
    z-index: 50

    & li
      .item-with-eval-element
        margin-top: 10px

      &:first-of-type .item-with-eval-element
        margin-top: 0

    &:after
      content: ""
      vertical-align: middle
      margin: 0 5px
      display: inline-block
      width: 0
      height: 0
      border-bottom: 8px solid $color-white
      border-left: 8px solid transparent
      border-right: 8px solid transparent
      position: $p-absolute
      bottom: 100%
      right: 2%