p.copyright-block
    span
        | Inspired by Designed
        | &nbsp;
        a(href="https://www.freepik.com/m-salama" rel="nofollow" title="m.salama" target="_blank") by m.salama / Freepik
        | &nbsp;
    span
        | | Source Layout
        | &nbsp;
        a(href="https://bitbucket.org/Eduard9969/resume-web-template/src/master/" rel="nofollow" title="Source Layout" target="_blank") BitBucket
        | &nbsp;
        | | Source Engine
        | &nbsp;
        a(href="https://bitbucket.org/Eduard9969/resume-web-engine/src/master/" rel="nofollow" title="Source Layout" target="_blank") BitBucket
