header.wrappen-header.d-flex.route-element
    div.wrappen-header-block.main-content-block.d-flex
        div.wrappen-header-block-text
            h1.text-uppercase Самойленко Эдуард
            span Full-Stack Developer & Seo
        div.wrappen-header-block-social
            include ./socials

    div.wrappen-header-block.sidebar-content-block.p-null
        include ./avatar