include ../mixins/element/social

ul
    li.d-inline-block.align-middle
        +social_element('LinkedIn', 'https://www.linkedin.com/in/eduard9969', 'linkedin')
    li.d-inline-block.align-middle
        +social_element('BitBucket', 'https://bitbucket.org/Eduard9969', 'bitbucket')
    li.d-inline-block.align-middle
        +social_element('GitHub', 'https://github.com/Eduard9969', 'github')