include ./mixins/typography/head-text

- let title= "Самойленко Эдуард - Full-Stack Developer";

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")

        title= title

        meta(name="description" content="")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        meta(name="format-detection" content="telephone=no")
        meta(http-equiv="x-rim-auto-match" content="none")

        link(rel="stylesheet" href="/dist/css/style.css")
        link(rel="stylesheet" href="/dist/css/print.css" media="print")
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet")
    body
        div.control-area
        div.wrappen-lang
            ul
                li.d-inline-block
                    a(href="?lang=en" title="En - English") En
                li.d-inline-block
                    a(href="?lang=ru" title="Ru - Русский язык").active Ru

        div.wrappen
            include ./components/header

            main.main-content
                div.main-content-wrap.d-flex.route-element
                    div.main-content-block
                        section
                            +head('Опыт работы', true)
                            include ./list/items-roadmap-exp

                        section
                            +head('Образование', true)
                            include ./list/items-roadmap-education

                        section
                            +head('Портфолио', true)
                            include ./list/items-roadmap-projects

                        div.copyright
                            include ./components/copy

                    div.sidebar-content-block
                        section
                            +head('Обо мне')
                            include ./content/about

                        section
                            +head('Связь со мной')
                            include ./list/items-contacts

                        section
                            +head('Навыки')
                            include ./list/items-skills

                        section
                            +head('Софт скилл')
                            include ./list/items-soft-skills

                        section
                            +head('Frameworks & CMS')
                            include ./list/items-frameworks-cms

                        section
                            +head('Языки')
                            include ./list/items-lang

        script(src="/dist/js/main.js")