mixin social_element(title, url, icon)
    a(href= url title= title rel="nofollow" target="_blank").social-element.d-block
        svg.svg-img.d-inline-block.align-middle
            use(xlink:href="/dist/images/svg/sprite.svg#"+icon)
        span.d-inline-block.align-middle= title