mixin item_roadmap(left_text, header_text, second_header_text, description_text)
    div.item-roadmap-wrap
        div.item-roadmap-left-block.d-inline-block.align-top
            span= left_text
        div.item-roadmap-right-block.d-inline-block.align-top
            div.item-roadmap-right-block-header
                span= header_text
                span= second_header_text
            div.item-roadmap-right-block-descpt
                p= description_text